<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>spring boot demo</title>
</head>
<body>
    <form action="/login/user" method="post">
        账号： <input type="input" name="username"> <br>
        密码： <input type="input" name="password">
        <input type="submit" value="提交">
    </form>
</body>
</html>